.latestPost > div {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    font-size: var(--size-responsive-2);
}

.latestPost > div > div {
    justify-self: center;
    flex: 0 32%;
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}

.post {
    display: flex;
    flex-flow: wrap row;
}


.postPreview {
    display: flex;
    margin-top: 2%;
    flex-flow: row wrap;
    justify-content: space-around;
}

.postPreview > div {
    flex: 0 32%;
    margin-bottom: 2%;
}

@media screen and (max-width: 1080px) {
    .latestPost > div {
        font-size: var(--size-4);
    }

    .latestPost > div > div {
        flex: 0 49%;
        margin-bottom: 2%;
    }
}

@media screen and (max-width: 768px) {

    .latestPost > div > div {
        flex: 0 99%;
        margin-bottom: 2%;
    }

    .postPreview > div {
        flex: 0 99%;
        margin-bottom: 2%;
    }
}