.hero {
    width: 100%;
    background-color: var(--color-grey-800);
    display: block;
}

.desktop {
    display: block !important;
}

.mobile {
    display: none !important;
}

@media screen and (max-width: 768px) {
    .desktop {
        display: none !important;
    }

    .mobile {
        display: block !important;
    }

    .hero {
        margin-bottom: 40px;
    }
}