.search {
    height: 20vh;
    background-color: var(--color-grey-800);
    color: var(--color-grey-100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input[type='text'] {
    background-color: var(--color-grey-800);
    color: var(--color-grey-100);
    border: none;
    border-bottom: var(--color-grey-900) 2px solid;
    font-size: 2vw;
    text-align: center;
}

.search input[type='text']:active, .search input[type='text']:focus {
    outline: none;
}

@media screen and (max-width: 1000px) {

    .search input[type='text'] {
        font-size: 1.8rem;
    }
}

@media screen and (max-width: 700px) {
    .search {
        height: 10vh;
    }

    .search input[type='text'] {
        font-size: 1.8rem;
    }
}