.search {
    height: 20vh;
    background-color: var(--secondary-dark);
    color: var(--primary-light);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search input[type='text'] {
    background-color: var(--secondary-dark);
    color: var(--primary-light);
    border: none;
    border-bottom: var(--primary-dark) 2px solid;
    font-size: var(--size-responsive-6);
    text-align: center;
}

.search input[type='text']:active, .search input[type='text']:focus {
    outline: none;
}

@media screen and (max-width: 1000px) {

    .search input[type='text'] {
        font-size: var(--size-7);
    }
}

@media screen and (max-width: 700px) {
    .search {
        height: 10vh;
    }
}