.postInfo {
    box-shadow: 2px 2px 5px var(--secondary-dark);
}

.post h1 {
    text-align: center;
    font-size: var(--size-responsive-4);
    margin: 1vw;
}

.excerptWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: var(--size-responsive-2);
    padding: 1vw;
    background-color: var(--secondary-dark);
    color: var(--primary-light);
    min-height: 170px;
    flex-flow: row wrap;
}

.excerptWrapper p {
    display: -webkit-box;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.excerptWrapper time {
    width: 100%;
    justify-content: stretch;
}

@media screen and (min-width: 1921px) {
    .excerptWrapper {
        min-height: 260px;
    }
}

@media screen and (min-width: 2561px) {
    .excerptWrapper {
        min-height: 320px;
    }
}

@media screen and (max-width: 1080px) {

    .post h1 {
        font-size: var(--size-5);
    }

    .excerptWrapper {
        font-size: inherit;
        min-height: 125px;
    }
}

@media screen and (max-width: 768px) {
    .excerptWrapper {
        min-height: auto;
    }
}