.allPosts {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.allPosts > div {
    flex: 0 32%;
    margin-bottom: 2%;
}

.controls {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.controls span {
    font-size: var(--size-responsive-1);
    cursor: pointer;
    margin: 2%
}

@media screen and (max-width: 1080px) {
    .allPosts > div {
        font-size: var(--size-4);
        flex: 0 49%;
        margin-bottom: 2%;
    }

    .allPosts h1 {
        font-size: var(--size-6)
    }

    .controls span {
        font-size: var(--size-4);
    }
}

@media screen and (max-width: 768px) {
    .allPosts > div {
        flex: 0 99%;
    }
}