.filterWrapper {
    background-color: var(--secondary-dark);
}

.filter {
    width: 70vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
}

.filter label {
    background-color: var(--secondary-dark);
    color: var(--primary-light);
    border: none;
    margin: 4vh;
    margin-top: 0;
    font-size: var(--size-responsive-2);
}

.filter label span {
    cursor: pointer;
}

.filter input[type="radio"] {
    opacity: 0;
    cursor: unset;
}

.filter input[type="radio"]:checked ~ span {
    color: var(--color-success-100);
}

@media screen and (max-width: 1080px) {
    .filter {
        width: 90vw;
        padding-bottom: var(--size-4);
        padding-right: var(--size-5);
    }

    .filter label {
        font-size: inherit;
        margin: 2vw;
    }
}